@{
    ViewData["title"] = "Exam CRT-251: Sales Cloud Consultant";
    ViewData["description"] = "Prepare for Exam CRT-251: Sales Cloud Consultant. Free demo questions with answers and explanations.";
}
<div class="k-block k-info-colored" style="text-align: center;">
    <div class="k-header k-info-colored">
        <h1>
            @ViewData["title"]
        </h1>
    </div>
    <h2>
        @ViewData["description"]
    </h2>
</div>
<style>
    #panels {
        margin-left: 20px;
        text-align: center;
    }

        #panels li {
            margin-right: 10px;
            margin-bottom: 10px;
            list-style: none;
            float: left;
        }
</style>
@{
    for (int i = 1; i <= 51; i++)
    {
        <br />
        <partial name="~/views/salesforce/crt-251/question@(i).cshtml" model="@new QuestionViewModel() { Id = i.ToString() }" />
    }
}
<partial name="~/views/shared/_JsScriptShowAnswer.cshtml" />