@model ExamViewModel

<div class="k-block k-info-colored" style="text-align: center;">
    <div class="k-header k-info-colored">
        <h1>
            @Model.PageH1
        </h1>
    </div>
    <h2>
        @Model.PageDescription
    </h2>
</div>
@{
    Model.ShowUdemy = false;
    for (int i = 0; i < Model.Questions.Count; i++)
    {
        if (Context.IsMobileBrowser())
        {
            if (i % 4 == 0 && i > 0)
            {
                <div class="center">
                    <amp-ad layout="fixed"
                            width="320"
                            height="50"
                            type="adsense"
                            data-ad-client="ca-pub-2519209558650417"
                            data-ad-slot="7770886760">
                    </amp-ad>
                </div>
            }
            else if (i % 2 == 0 && i > 0)
            {
                <amp-ad width="100vw" height="320"
                        type="adsense"
                        data-ad-client="ca-pub-2519209558650417"
                        data-ad-slot="7303740684"
                        data-auto-format="rspv"
                        data-full-width="">
                    <div overflow=""></div>
                </amp-ad>
            }
        }
        else
        {
            if (i % 4 == 0 && i > 0)
            {
                @Html.Raw(Html.GetAddsenseAdd(AdsenseType.ResponsiveAdHorizontal))
            }
        }
        @*Model.Questions[i].ShowAdsInQuestion = false;*@
        <partial name="~/views/shared/question.cshtml" model="@Model.Questions[i]" />
    }
}
