<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.aspnetmvc.min.js"></script>
<script>
    function placeholder(element) {
        return $("<li class='list-item' id='placeholder'>Drop Here!</li>");
    }
    $(document).ready(function () {
        $("#menu").kendoMenu();

        $("#panelbar, .panelbar").kendoPanelBar({
            expandMode: "multi"
        });
        $("select.ea").kendoDropDownList({
            autoWidth: true
        });
        $("#sortable-listC").kendoSortable({
            placeholder: placeholder
        });
        $("body").show();

        var panelBars = $(".panelbar");

        panelBars.each(function f(index, element) {
            var answerLi = $(element).children("li:nth-child(2)");
            var $answerLi = $(answerLi);
            $answerLi.append(`<div style="text-align:center">
            <p>
                <input type="button" class="k-button showAnswer" value="Show answer" />
            </p>
        </div>`);
        });

        $(".showAnswer").click(function showAnswerClick(ev) {
            var $this = $(this);
            var correctAnswers = $(this).parent().parent().parent().find(".correct");
            var isGreen = correctAnswers.hasClass("green");
            if (!isGreen) {
                correctAnswers.addClass("green");
                $this.val("Hide Answer");
            }
            else {
                correctAnswers.removeClass("green");
                $this.val("Show Answer");
            }

        });
    });

    $(document).ajaxSend(function (event, request, settings) {
        settings.url = settings.url.toLowerCase();
    });
    function onAdditionalData() {
        return {
            text: $("#questions").val()
        };
    }
    function questionsSelect(e) {
        var dataItem = this.dataItem(e.item.index());
        var url = dataItem.Url;
        window.location.href = url;
    }   
</script>