<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.aspnetmvc.min.js"></script>
<script>
    function placeholder(element) {
        return $("<li class='list-item' id='placeholder'>Drop Here!</li>");
    }

    $(document).ready(function () {
        $("#menu").kendoMenu();

        $("#panelbar, .panelbar").kendoPanelBar({
            expandMode: "multi"
        });

        $("select.ea").kendoDropDownList({
            autoWidth: true
        });

        $("#sortable-listC").kendoSortable({
            placeholder: placeholder
        });

        $("body").show();

        var isMobile = Boolean(kendo.support.mobileOS);

        $("#gridExams").kendoGrid({
            sortable: true,
            mobile: true,
        });

        if (isMobile) {
            $("#gridExams").data("kendoGrid").resize();
        }


    });

    $(document).ajaxSend(function (event, request, settings) {
        settings.url = settings.url.toLowerCase();
    });
</script>

<script>
    function onAdditionalData() {
        return {
            text: $("#questions").val()
        };
    }

    function questionsSelect(e) {
        var dataItem = this.dataItem(e.item.index());
        var url = dataItem.Url;
        window.location.href = url;
    }
</script>