<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="free, exam, question, answer, explanation">
    <title>@("Exam-answer" + ViewData["title"])</title>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.silver.mobile.min.css" />



    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">
    <style>
        html {
            font-size: 15px;
            font-family: 'Inconsolata', monospace;
        }

        p, ul {
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>

    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>

    <style type='text/css'>
        body, li, ul, p, li div {
            background-image: url(../../128-168.jpg) !important;
            background-repeat: repeat !important;
        }

            ul.fieldlist li {
                margin-left: 10px
            }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43988280-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-43988280-9');
    </script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c95682cfb6af900122ecbcc&product=social-ab' async='async'></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body style="display: none">
    <header>
        <ul id="menu">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                Microsoft
                <ul>
                    <li>
                        <a href="~/microsoft/az-100">Az-100</a>
                        <ul>
                            @{
                                for (int i = 1; i <= 31; i++)
                                {
                                    <li>
                                        <a class="nav-link text-dark" href="~/microsoft/az-100/question@(i)">
                                            @($"Question{i}")
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </header>
    <div>
        <main role="main">
            <br />
            <partial name="_PrevNextPartial" />
            <br />
            <partial name="_ProgressPartial" />
            <br />
            @RenderBody()
            <br />
            <partial name="_PrevNextPartial" />
        </main>
    </div>

    <br />

    <footer>
        @*<div class="container">
                Exam - Answer<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>
    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();

            $("#panelbar").kendoPanelBar({
                expandMode: "multi"
            });
            $("select.ea").kendoDropDownList({
                autoWidth: true
            });

            $("body").show();

            var meta = $("meta[name=description]");

            var lines = $("ul li div").first().find("p");
            var descr = "";
            if (lines.length > 0) {
                descr = lines.first().text();
            }
            if (lines.length > 1) {
                descr = $(lines[0]).text() + $(lines[1]).text();
            }

            meta.attr("content", descr);
        });
    </script>
    <style>
        .fieldlist {
            margin: 0 0 -1em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 1em;
            }

        .correct {
            color: forestgreen
        }
    </style>




    <script>
        function placeholder(element) {
            return $("<li class='list-item' id='placeholder'>Drop Here!</li>");
        }
        $(document).ready(function () {
            $("#sortable-listC").kendoSortable({
                placeholder: placeholder
            });
        });
    </script>
    <style>


        .demo-section {
            /*padding: 50px 70px;*/
            text-align: center;
        }

        .list-wrapper {
            overflow: hidden;
        }

        #sortable-listA, #sortable-listB, #sortable-listC, #sortable-listD {
            /*width: 210px;*/
            min-height: 40px;
            margin: 0;
            padding: 0;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

            #sortable-listC li {
                border: solid;
                border-color: black;
                border-width: 1px;
            }

        .list-item {
            list-style-type: none;
            /*width: 200px;*/
            margin: 5px;
            line-height: 30px;
            text-align: center;
            background-color: #222222;
            color: #ffffff;
            border-radius: 3px;
            cursor: move;
        }

        #sortable-listC .list-item {
            background-color: #66cc66;
            color: black;
        }


        #placeholder.list-item {
            /*background-color: #000000;*/
            color: black;
        }
    </style>
</body>
</html>
