<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]exam-answer</title>

    @*
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.metro.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.metro.mobile.min.css" />*@
    @*
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-fiori.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.fiori.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.fiori.mobile.min.css" />*@
    @*
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    @*
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.bootstrap-v4.min.css" />*@
    
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.silver.mobile.min.css" />


    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">
    <style>
        html {
            font-size: 15px;
            font-family: 'Inconsolata', monospace;
        }
    </style>
    @*<style>
        html {
            color:#333;
            font-size: 14px;
            line-height:1.42861;
            font-weight:400;
            letter-spacing: -.016em;
            font-family:  SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        }
    </style>*@
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>

    <style type='text/css'>
        body, li, ul, p, div {
            background-image: url(../../128-168.jpg) !important;
            background-repeat: repeat !important;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43988280-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-43988280-9');
    </script>

</head>
<body style="display:none">
    <header>
        <ul id="menu">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                Microsoft
                <ul>
                    <li>
                        <a href="~/microsoft/az-100">Az-100</a>
                        <ul>
                            @{
                            for (int i = 1; i <= 31; i++)
                            {
                            <li>
                                <a class="nav-link text-dark" href="~/microsoft/az-100/question@(i)">
                                    @($"Question{i}")
                                </a>
                            </li>
                            }
                            }
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </header>
    <div>
        <main role="main">
            <partial name="_PrevNextPartial" />
            @RenderBody()
            <partial name="_PrevNextPartial" />
        </main>
    </div>

    <br />

    <footer>
        @*<div class="container">
            Exam - Answer<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script>

        $("#menu").kendoMenu();

        $("#panelbar").kendoPanelBar({
            expandMode: "multi"
        });
        $("select.ea").kendoDropDownList({
            autoWidth: true
        });

        $("body").show();
    </script>
    <style>
        .fieldlist {
            margin: 0 0 -1em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 1em;
            }

        .correct {
            color: forestgreen
        }
    </style>
</body>
</html>
