@model Exam_answerWeb.Models.BaseViewModel
<h1 class="l-hero-title a-title-md center">
        @Model?.PageH1
</h1>
<h2 class="l-hero-caption a-caption mx-auto max-width-3 pt1 mb3 center">
    @Model?.PageDescription
</h2>