@model Exam_answerWeb.Models.BaseViewModel

<h1 class="l-hero-title a-title-md center">
    @Model?.PageH1
</h1>
<p class="l-hero-caption a-caption mx-auto max-width-3 pt1 mb3 center">
    @Model?.PageDescription
</p>


<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-100
    </div>
    <h2>
        Microsoft Azure Infrastructure and Deployment
    </h2>
    <p>
        <a href="~/microsoft/az-100">Start in Learn Model</a>
    </p>
    <p>
        <a href="~/microsoft/az-100/question1">Start in Exam Model</a>
    </p>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-300
    </div>
    <h2>
        Microsoft Azure Architect Technologies
    </h2>
    <p>
        <a href="~/microsoft/az-300">Start in Learn Model</a>
    </p>
    <p>
        <a href="~/microsoft/az-300/question1">Start in Exam Model</a>
    </p>
</div>
<br />

<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-900
    </div>
    <h2>
        Microsoft Azure Fundamentals
    </h2>
    <p>
        <a href="~/microsoft/az-900">Start in Learn Model</a>
    </p>
    <p>
        <a href="~/microsoft/az-900/question1">Start in Exam Model</a>
    </p>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Salesforce: SCFSLC
    </div>
    <h2>
        Salesforce Certified Field Service Lightning Consultant
    </h2>
    <p>
        <a href="~/salesforce/salesforce-certified-field-service-lightning-consultant">Start in Learn Model</a>
    </p>
    <p>
        <a href="~/salesforce/salesforce-certified-field-service-lightning-consultant/question1">Start in Exam Model</a>
    </p>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Salesforce: CRT-251
    </div>
    <h2>
        Sales Cloud Consultant
    </h2>
    <p>
        <a href="~/salesforce/crt-251">Start in Learn Model</a>
    </p>
    <p>
        <a href="~/salesforce/crt-251/question1">Start in Exam Model</a>
    </p>
</div>