@(Html.Kendo().AutoComplete()
                .Name("questions")
                .DataTextField(nameof(SearchQuestionOldViewModel.TextInUI))
                .MinLength(2)
                .HtmlAttributes(new { style = "width:100%" })
                .Placeholder("Instantly search any question here...")
                .Events(e => e.Select("questionsSelect"))
                .Template("<a href=\"#: data.Url #\">#: data.TextInUI #</a>")               
                .DataSource(source => source
                    .Custom()
                    
                    .Group(g => g.Add(nameof(SearchQuestionOldViewModel.ExamName), typeof(string)))
                    .Transport(transport => transport
                      .Read(read =>
                      {
                      read.Action("Read", "SearchQuestion")
                          .Data("onAdditionalData");
                  }))
                  

                    .ServerFiltering(true)).Deferred()
)
    
<br />
<br />
<table id="gridExams">
    <colgroup>
        <col style="width:60px"/>
        <col style="width:200px" />
        <col style="width:60px" />
        <col style="width:60px"/>
        <col style="width:60px"/>
    </colgroup>
    <thead>
        <tr>
            <th data-field="make">Code</th>
            <th data-field="model">Name</th>
            <th data-field="year">Provider</th>
            <th data-field="category">Learn Mode</th>
            <th data-field="airconditioner">Exam Mode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AZ-100</td>
            <td>Microsoft Azure Infrastructure and Deployment</td>
            <td>Microsoft</td>
            <td>
                <a href="~/microsoft/az-100">Start</a>
            </td>
            <td>
                <a href="~/microsoft/az-100/question1">Start</a>
            </td>
        </tr>
        <tr>
            <td>CRT-251</td>
            <td>Sales Cloud Consultant</td>
            <td>Salesforce</td>
            <td>
                <a href="~/salesforce/crt-251">Start</a>
            </td>
            <td>
                <a href="~/salesforce/crt-251/question1">Start</a>
            </td>
        </tr>
    </tbody>
</table>

