@model Exam_answerWeb.Models.BaseViewModel

<h1 class="l-hero-title a-title-md center">
    @Model?.PageH1
</h1>
<p class="l-hero-caption a-caption mx-auto max-width-3 pt1 mb3 center">
    @Model?.PageDescription
</p>

<div class="k-block">
    <div class="k-header">
        Amazon: SAA-C01
    </div>
    <h2>
        AWS Certified Solutions Architect - Associate
    </h2>
    <span>
        <a href="~/amazon/saa-c01">All Questions</a>
    </span>
    <span>
        <a href="~/amazon/saa-c01/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Amazon: SAA-C02
    </div>
    <h2>
        AWS Certified Solutions Architect - Associate
    </h2>
    <span>
        <a href="~/amazon/saa-c02">All Questions</a>
    </span>
    <span>
        <a href="~/amazon/saa-c02/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Amazon: CLF-C01
    </div>
    <h2>
        AWS Certified Cloud Practitioner
    </h2>
    <span>
        <a href="~/amazon/clf-c01">All Questions</a>
    </span>
    <span>
        <a href="~/amazon/clf-c01/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-100
    </div>
    <h2>
        Microsoft Azure Infrastructure and Deployment
    </h2>
    <span>
        <a href="~/microsoft/az-100">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-100/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-104 <span class="green"><i class="fa fa-bell-o" title="NEW"></i></span>
    </div>
    <h2>
        Microsoft Azure Administrator
    </h2>
    <span>
        <a href="~/microsoft/az-104">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-104/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-300
    </div>
    <h2>
        Microsoft Azure Architect Technologies
    </h2>
    <span>
        <a href="~/microsoft/az-300">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-300/question1">First Question</a>
    </span>
</div>
<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-301
    </div>
    <h2>
        Microsoft Azure Architect Design
    </h2>
    <span>
        <a href="~/microsoft/az-301">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-301/question1">First Question</a>
    </span>
</div>
<br />
<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-400
    </div>
    <h2>
        Designing and Implementing Microsoft DevOps Solutions
    </h2>
    <span>
        <a href="~/microsoft/az-400">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-400/question1">First Question</a>
    </span>
</div>

<br />
<div class="k-block">
    <div class="k-header">
        Microsoft: AZ-900
    </div>
    <h2>
        Microsoft Azure Fundamentals
    </h2>
    <span>
        <a href="~/microsoft/az-900">All Questions</a>
    </span>
    <span>
        <a href="~/microsoft/az-900/question1">First Question</a>
    </span>
</div>

<br />

<div class="k-block">
    <div class="k-header">
        Salesforce: ADM-201
    </div>
    <h2>
        Administration Essentials for New Admins
    </h2>
    <span>
        <a href="~/salesforce/adm-201">All Questions</a>
    </span>
    <span>
        <a href="~/salesforce/adm-201/question1">First Question</a>
    </span>
</div>


@*<div class="k-block">
    <div class="k-header">
        Salesforce: SCFSLC
    </div>
    <h2>
        Salesforce Certified Field Service Lightning Consultant
    </h2>
    <span>
        <a href="~/salesforce/salesforce-certified-field-service-lightning-consultant">All Questions</a>
    </span>
    <span>
        <a href="~/salesforce/salesforce-certified-field-service-lightning-consultant/question1">First Question</a>
    </span>
</div>*@
 
@*<br />

<div class="k-block">
    <div class="k-header">
        Salesforce: CRT-251
    </div>
    <h2>
        Sales Cloud Consultant
    </h2>
    <span>
        <a href="~/salesforce/crt-251">All Questions</a>
    </span>
    <span>
        <a href="~/salesforce/crt-251/question1">First Question</a>
    </span>
</div>*@