<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                Your Azure Subscription has several virtual machines (VMs) deployed. You need to configure backups for these VMs.
            </p>
            <p>
                You need to ensure that the backups have the following characteristics:
            </p>
            <p>
                * Backups are made daily.
                <br />
                * There is a daily backup for the last 90 days.
                <br />
                * There is a backup of the first Sunday of each month for the last 30 months.
                <br />
                * There is a backup of June 15 of each year for the last 10 years.
                <br />
                * The backup process should have no impact on any production timeframe.
                <br />
                * The backup should happen between 01:00 pm and 02:00 am UTC.
            </p>
            <p>
                You need to configure the backup policy to meet the requirements.
            </p>
            <p>
                Which four actions should you perform in sequence?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <div class="demo-section hidden-on-narrow two-way wide">
                <div class="list-wrapper">
                    <ul id="sortable-listC">
                        <li class="list-item">Select daily as the backup frequency.</li>
                        <li class="list-item">Enable a daily backup point and set it for 90 days.</li>
                        <li class="list-item">Configure a monthly backup point with week based retention.</li>
                        <li class="list-item">Configure a yearly backup point with day based retention.</li>
                        <li class="list-item">Enable a weekly backup point and set it for 12 weeks.</li>
                        <li class="list-item">Configure a yearly backup point with week-based retention.</li>
                        <li class="list-item">Configure a monthly backup point with day-based retention.</li>
                        <li class="list-item">Select a weekly as the backup frequency.</li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should perform the following steps in order:
            </p>
            <p>
                1. Select daily as the backup frequency.
                <br />
                2. Enable a daily backup point and set it for 90 days.
                <br />
                3. Configure a monthly backup point with week based retention.
                <br />
                4. Configure a yearly backup point with day based retention.
            </p>
            <p>
                Firstly, you should select daily as the backup frequency. Your backup requirements state that you need to perform a backup on a daily basis. You should also set the time schedule to a value outside the production timeframe. You can also select the correct timeframe to ensure that the backup is not performed during the production timeframe.
            </p>
            <p>
                Next, you should enable a daily backup point and set it for 90 days. You need to ensure that your daily backup is available for at least 90 days. This means that you need to configure the retention policy for daily backups for that number of days. You can configure this option in the Retention range section when you are creating your policy. You need to ensure that you selected daily frequency for the backup schedule to be able to configure the daily retention policy.
            </p>
            <p>
                Next, you should configure a monthly backup point with week based retention. You need to ensure that you have a backup of the first Sunday of each month for the last 30 days. Using week based retention, you can schedule the retention for the day of the week, without worrying about the exact day of the month. You need to set the value 30 on the For field.
            </p>
            <p>
                Finally, you should configure yearly backup point with day based retention. You need to ensure that you have a backup of the day June 15 for the last 10 years. For this requirement, the best option is to configure the retention policy with a day based schedule. This way, you can set the specific day and month that you want to keep, without worrying about which is the exact day of the week. You need to set the value 10 on the For field.
            </p>
            <p>
                You should not select weekly as the backup frequency. Although you can also configure a daily based backup using the weekly frequency by selecting all days in the week, this option disables the daily retention period section.
            </p>
            <p>
                You should not enable a weekly backup point and set it for 12 weeks. This option is useful when you want to retain a backup for a specific day of the week, for example all Mondays. You could also maintain all backups of all days by selecting all days in the dropdown, but you cannot set the number of days that the backups will be maintained. Configuring 12 weeks of retention is equal to keeping it for 84 days (12*7=84), which does not meet the requirements.
            </p>
            <p>
                You should not configure a monthly backup point with day based retention. This option is useful when you want to set the exact day of the month that you want to keep in your vault. In this scenario, you need to keep the first Sunday of each month. The week based option is more appropriate in this case.
            </p>
            <p>
                You should not configure a yearly backup point with week based retention. This option is useful when you want to set the day of the week in a specific month, but you do not care about the exact date. In this scenario you need to keep the backup for day June 15 of each month. The day based option is more appropriate in this case.
            </p>
        </div>
    </li>
</ul>
