<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                You have an Azure subscription with the following types of the resources deployed:
            </p>
            <p>
                * Azure Files
                <br />
                * Azure Virtual Machines
                <br />
                * Azure Backup server
            </p>
            <p>
                You make backups of all your resources by using Azure Backup in several Recovery Services vaults.
            </p>
            <p>
                You need to review the status of all backups. You decide to configure Azure Backup reports.
            </p>
            <p>
                Which four actions should you perform in sequence? To answer, move the appropriate actions from the list of possible actions to the answer area and arrange them in the correct order.
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <div class="demo-section hidden-on-narrow two-way wide">
                <div class="list-wrapper">
                    <ul id="sortable-listC">
                        <li class="list-item">Turn on diagnostics in the Recovery Services vault.</li>
                        <li class="list-item">Select Archive to a storage account.</li>
                        <li class="list-item">Select AzureBackupReport in the log section.</li>
                        <li class="list-item">Connect to Azure Backup in PowerBI using a service content pack.</li>
                        <li class="list-item">Select AzureSiteRecoveryEvents in the log section.</li>
                        <li class="list-item">Connect to Azure Backup in PowerBI using the storage account URL.</li>
                        <li class="list-item">Turn on diagnostics on each Azure Backup Server.</li>
                        <li class="list-item">Select Send to Log Analytics.</li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should perform the following steps in order:
            </p>
            <p>
                1. Turn on diagnostics in the Recovery Services vault.
                <br />
                2. Select Archive to a storage account.
                <br />
                3. Select AzureBackupReport in the log section.
                <br />
                4. Connect to Azure Backup in PowerBI using a service content pack.
            </p>
            <p>
                First, you should turn on diagnostics on the Recovery Services vault. You can perform this action in Backup Reports under the Monitoring and Reports section in the Recovery Service vault blade.
            </p>
            <p>
                Next, you need to select the Archive to a storage account option. You need to provide a storage account that will be used for storing all the information needed for the report. You need to ensure that the storage account already exists in your subscription. You cannot create a new storage account from this blade.
            </p>
            <p>
                Next, you need to select AzureBackupReport in the log section. This option gathers all needed data models and information for the backup report. You can also set the retention policy for this data in the storage account.
            </p>
            <p>
                Finally, you need to connect to Azure Backup in PowerBI using a service content pack. You need to log in to PowerBI and install the Azure Backup service content pack. This content pack already has all the reports, datasets, and visuals configured to provide you with the correct information. During the installation of the content pack, you need to provide the name of the storage account that stores the diagnostic data for the Recovery Services vault. You also need to provide the account key of the storage account for authenticating access to the diagnostic data.
            </p>
            <p>
                You should not connect to Azure Backup in PowerBI using the storage account URL. Although PowerBI can connect to Azure Blob or Table storage accounts, this would require much more effort because you still need to create the reports, datasets, and visuals on your own. You should use the Azure Backup content pack because it already provides all the needed structures for you.
            </p>
            <p>
                You should not select AzureSiteRecoveryEvents in the log section. This log provides information about recovery events but does not contain the data model needed by the Azure Backup content pack that you need to use to configure Azure Backup reports.
            </p>
            <p>
                You should not select Send to Log Analytics. Azure Backup reports depend on reading the data from a storage account, not Log Analytics. You can optionally select Send to Log Analytics if you need to perform additional analysis using this tool, but this information will not be displayed on the Azure Backup report.
            </p>
            <p>
                You should not turn on diagnostics on each Azure Backup server. The diagnostics information is read from the Recovery Services vault, not from each of the protected resources. Additionally, Azure Backup server is not supported for Azure Backup reports. The only resource types supported for Azure Backup reports are virtual machine backups and file and folder backups using the Azure Recovery Services Agent.
            </p>
        </div>
    </li>
</ul>
