<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                You have an Azure subscription that contains a Windows Server 2016 virtual machine (VM) named VM1.
            </p>
            <p>
                You need to enable guest operating system (OS) diagnostics for VM1 by using Azure Cloud Shell.
            </p>
            <p>
                How should you complete the Azure PowerShell command? To answer, select the appropriate options from the drop-down menus.
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                $vmRg = 'prod'
                <br />
                $vm = "vm1"
                <br />
                $path = "config.xml"
                <br />
                <select class="ea">
                    <option></option>
                    <option class="correct">Set-AzureRmDiagnosticSetting</option>
                    <option>Set-AzureRmVMBootdiagnostics</option>
                    <option>Set-AzureRmVMDiagnosticsExtension</option>
                </select>
                -ResourceGroupName $vmRg  `
                <br />
                -VMName $vm
                <select class="ea">
                    <option></option>
                    <option>- DefaultProfile</option>
                    <option>-DiagnosticsConfigurationPath</option>
                    <option>-StorageContext</option>
                </select>
                $path
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should use the following command:
            </p>
            <p>
                $vmRg = 'prod'
                <br />
                $vm = "vm1"
                <br />
                $path = "config.xml"
                <br />
                Set-AzureRmVMDiagnosticsExtension -ResourceGroupName $vmRg  `
                <br />
                -VMName $vm -DiagnosticsConfigurationPath $path
            </p>
            <p>
                To enable guest OS diagnostics for an Azure VM by using Azure PowerShell, you should use the Set-AzureRmVMDiagnosticsExtension command. This command enables Azure to retrieve diagnostics telemetry data from Performance Monitor and Event Logs and display them in a variety of ways, including through an Azure Log Analytics workspace.
            </p>
            <p>
                You should use the DiagnosticsConfigurationPath parameter because you need to pass an Extensible Markup Language (XML) format configuration file to Set-AzureRmVMDiagnosticsExtension so Azure understands which guest OS diagnostics to enable on the target VM or VMs.
            </p>
            <p>
                You should not use the Set-AzureRmDiagnosticSetting command. This command only enables you to make modifications to a VM that is already enabled for guest OS diagnostics data collection.
            </p>
            <p>
                You should not use the Set-AzureRMBootdiagnostics command. This command enables only boot diagnostics and not guest-level diagnostics. Boot diagnostics takes periodic screen captures of the VM's desktop or terminal screen to give administrators a fast way to determine the VM's runtime state.
            </p>
        </div>
    </li>
</ul>