<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                You have an Azure subscription that contains a Windows Server virtual machine (VM) named VM1.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                You write a Desired State Configuration (DSC) configuration script that configures a target node to run a line-of-business (LOB) web application. 
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                You need to configure VM1 to process your DSC configuration script. Your solution must minimize costs.
            </p>
            <p>
                Which three actions should you perform in sequence? To answer, move the appropriate actions from the list of possible actions to the answer area and arrange them in the correct order.
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <div class="demo-section hidden-on-narrow two-way wide">
                <div class="list-wrapper">
                    <ul id="sortable-listC">
                        <li class="list-item correct 1">Define an Azure DSC extension resource on VM1.</li>
                        <li class="list-item correct 2">Upload the DSC configuration script.</li>
                        <li class="list-item correct 3">Deploy the extension.</li>
                        <li class="list-item">Create an Azure Automation account.</li>
                        <li class="list-item">Compile the configuration.</li>
                        <li class="list-item">Import necessary modules.</li>
                        <li class="list-item">Assign the configuration.</li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should perform the steps in the following order:
            </p>
            <p>
                1. Define an Azure DSC extension resource on VM1.
                <br />
                2. Upload the DSC configuration script.
                <br />
                3. Deploy the extension.
            </p>
            <p>
                First, you need to define the Azure DSC extension with the target VM. You can do this in the Azure portal by navigating to the virtual machine's Extensions blade.
            </p>
            <p>
                Second, you upload your previously authored DSC configuration script. You do this from the extension properties blade in the Azure portal.
            </p>
            <p>
                Third and finally, you deploy the extension. The Azure fabric will compile your configuration script, transmit it to the target VM, and the VM will process the script during its next DSC update cycle.
            </p>
            <p>
                Although you can use Azure Automation DSC to configure this VM, doing so fails to meet the scenario requirement of minimizing cost because Azure Automation DSC is a paid service.
            </p>
            <p>
                An Azure Automation DSC rollout involves the following general steps:
            </p>
            <p>
                1. Creating an Azure Automation account
                <br />
                2. Importing any necessary PowerShell modules to support your configuration
                <br />
                3. Compiling your custom configuration
                <br />
                4. Assigning the configuration to your target node(s)
            </p>
        </div>
    </li>
    <li>
        References
        <div>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-overview" target="_blank" rel="noopener" >Introduction to the Azure Desired State Configuration extension handler</a>            
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/dsc/azuredsc" target="_blank" rel="noopener" >Using DSC on Microsoft Azure</a>            
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/automation/automation-dsc-overview" target="_blank" rel="noopener" >Azure Automation State Configuration Overview</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/automation/automation-quickstart-dsc-configuration" target="_blank" rel="noopener" >Configure a Linux virtual machine with Desired State Configuration</a>
            </p>
        </div>
    </li>
</ul>