<div id="example" role="application">
    <div class="demo-section k-content">
        <div>

            <select id="optional">
                <option class="correct">Execute New-AzureRmStorageAccount.</option>
                <option class="correct">Execute Get-AzureRmStorageAccountKeys.</option>
                <option class="correct">Execute New-AzureRmStorageContext.</option>
                <option class="correct">Execute New-AzureRmStorageShare.</option>
                <option class="correct">Execute CMDKEY on the Windows Servers.</option>
                <option class="correct">Execute New-PSDrive on the Windows Servers.</option>
                <option>Execute Get-AzureRmStorageAccount.</option>
                <option>Execute Set-AzureRmStorageAccount.</option>
                <option>Execute Get-PSDrive on Windows Servers.</option>
            </select>
            <select id="selected"></select>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#optional").kendoListBox({
                connectWith: "selected",
                draggable: true,
                toolbar: {
                    tools: ["transferTo", "transferFrom"]
                }
            });

            $("#selected").kendoListBox({
                connectWith: "optional",
                draggable: true,
                toolbar: {
                    tools: ["moveUp", "moveDown"]
                }
            });
        });
    </script>
</div>