body {
    background-image: url(../../128-168.jpg) !important;
    background-repeat: repeat !important;
}

ul.fieldlist li {
    margin-left: 10px
}

html, body, h1, h2 {
    font-size: 15px !important;
    font-family: 'Inconsolata', monospace !important;
}

/*same padding as p element*/
h1, h2 {
    padding-left: 5px;
    padding-right: 5px;
}

p, ul {
    padding-left: 5px;
    padding-right: 5px;
}

.fieldlist {
    margin: 0 0 -1em;
    padding: 0;
}

    .fieldlist li {
        list-style: none;
        padding-bottom: 1em;
    }

.correct {
    /*color: forestgreen*/
}
/*-------------------------------*/

.demo-section {
    /*padding: 50px 70px;*/
    text-align: center;
}

.list-wrapper {
    overflow: hidden;
}

#sortable-listA, #sortable-listB, #sortable-listC, #sortable-listD {
    /*width: 210px;*/
    min-height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

    #sortable-listC li {
        border: solid;
        border-color: black;
        border-width: 1px;
    }

.list-item {
    list-style-type: none;
    /*width: 200px;*/
    margin: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #222222;
    color: #ffffff;
    border-radius: 3px;
    cursor: move;
}

#sortable-listC .list-item {
    background-color: #66cc66;
    color: black;
}


#placeholder.list-item {
    /*background-color: #000000;*/
    color: black;
}