@model ExamAnswerRazor.Classes.Exam;
@await Html.PartialAsync("_FirstHalfPartial")
<div class="container">
    <div class="row">
        @foreach (var paragraph in Model.Description)
        {
            <p>@paragraph</p>
        }
    </div>
</div>
@await Html.PartialAsync("_SecondHalfPartial")