@model ExamViewModel

@{
    ViewData["title"] = Model.Title;
    ViewData["description"] = Model.Description;
}
<div class="k-block k-info-colored center">
    <div class="k-header k-info-colored">
        <h1>
            @ViewData["title"]
        </h1>
    </div>
    <h2>
        @ViewData["description"]
    </h2>
</div>
@{
    Model.ShowUdemy = false;
    for (int i = 0; i < Model.Questions.Count; i++)
    {
        if (i % 5 == 0 && i < 25)
        {
            <amp-ad width="100vw" height="320"
                    type="adsense"
                    data-ad-client="ca-pub-2519209558650417"
                    data-ad-slot="6605505176"
                    data-auto-format="rspv"
                    data-full-width="">
                <div overflow=""></div>
            </amp-ad>
        }
        Model.Questions[i].ShowDisqus = false;
        <partial name="~/views/shared/question.cshtml" model="@Model.Questions[i]" />
        <br />
    }
}