
<div id="example">
    <ul id="panelbar">
        <li class="k-state-active">
            Question
            <div>
                <p>
                    You are the owner of your organization's Microsoft Azure subscription. You hire a new administrator to help you manage a virtual network that contains nine Windows Server virtual machines (VMs). The deployment is contained in a resource group named prod-rg.
                </p>
                <p>
                    You need to provide the administrator with least-privilege access only to the prod-rg resource group. The administrator should be allowed to manage all aspects of the Azure VMs. Your solution should minimize management effort.
                </p>
                <p>
                    What should you do?
                </p>            
            </div>
        </li>
        <li class="k-state-active">
            Answers
            <div>
                <p>
                    <ul class="fieldlist">
                        <li>
                            <input type="radio" name="group" id="1" class="k-radio">
                            <label class="k-radio-label" for="1">
                                Assign the Allowed virtual machine SKUs Azure Policy at the resource group scope.
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="group" id="2" class="k-radio">
                            <label class="k-radio-label" for="2">
                                Assign a custom Azure Policy at the management group scope.
                            </label>
                        </li>
                        <li class="correct">
                            <input type="radio" name="group" id="3" class="k-radio">
                            <label class="k-radio-label" for="3">
                                Assign the administrator to the Contributor role at the resource group scope.
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="group" id="4" class="k-radio">
                            <label class="k-radio-label" for="4">
                                Assign the administrator to the Virtual Machine Operator role at the virtual machine scope.
                            </label>
                        </li>
                    </ul>
                </p>
            </div>
        </li>
        <li class="k-state-active">
            Explanation
            <div>
                <p>You should back up prod-vm1, restore the VM to the prod-east-rg resource group, and then delete the original VM instance. Unfortunately, managed disks are one of the few Azure resources that cannot be moved between resource groups or subscriptions. Because the VM in Azure has so many dependencies, this managed disk restriction means that you are unable to move the entire VM without redeploying the disks and configuration into the new resource group.</p>
                <p>You cannot move prod-vm1 to the prod-east-rg resource group by using the Move-AzureRmResource PowerShell cmdlet because the scenario states that the VM uses managed disk storage. If the VM used unmanaged disk storage, the Move-AzureRmResource command could move the VM to another resource group or even another Azure subscription.</p>
                <p>You cannot use azcopy to copy prod-vm1 to the prod-east-rg resource group. Azcopy is a cross-platform command-line tool with which you can copy or move binary large object (BLOB) data between storage accounts. In this case, the VM in question uses managed disk storage. Moreover, Azcopy cannot migrate VM configuration, only virtual hard disks (VHDs).</p>
                <p>You cannot author an Azure Resource Manager (ARM) template that moves prod-vm1 to the prod-east-rg resource group because it uses managed disk storage.</p>
            </div>
        </li>
    </ul>

    <script>
        $(document).ready(function () {
            $("#panelbar").kendoPanelBar({
                expandMode: "multi"
            });
        });
    </script>
</div>