@page "/"
@model ExamAnswerRazor.Pages.MyPageModel
@{
    Layout = null;
}

@await Html.PartialAsync("_FirstHalfPartial")

<div class="container text-center">
    <div class="row">
        <div class="card-group">
            @for (int i = 0; i < Constants.ProvidersAndExams.Providers.Count; i++)
            {
                var provider = Constants.ProvidersAndExams.Providers[i];
                <div class="col-md-4 p-4">
                    <div class="card">

                        <img src="/images/logos/@(provider.Name.ToLower()).svg" class="card-img-top" height="300" width="300" />
                        <div class="card-body">
                            <h3 class="card-title">
                                @provider.Name
                            </h3><p class="card-text">
                                Numbers of exams: @provider.ExamsCount
                            </p><p class="card-text">
                                Numbers of questions: @provider.QuestionsCount
                            </p>
                            <a href="/@provider.Name" class="btn btn-primary">Go to @provider.Name exams</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("_SecondHalfPartial")
