<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2019.1.220Azure" value="D:\home\site\repository\Exam-answer\Exam-answerWeb\Libs" />
    <!--<add key="Kendo Mvc 2019.1.220Yordan" value="C:\Projects\exam-answer-repo\Exam-answer\Exam-answerWeb\Libs" />-->
  </packageSources>
</configuration>