<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2019.2.514Azure" value="D:\home\site\repository\Exam-answer\Exam-answerWeb\Libs" />
    <!--<add key="Kendo Mvc 2019.2.514Yordan" value="C:\Projects-Mine\exam-answer\Exam-answer\Exam-answerWeb\Libs" />-->
  </packageSources>
</configuration>